# Task 1: Pandas

For this task we will use a [dataset](https://www.kaggle.com/kaggle/sf-salaries), called Saleries, provided by Kaggle.

Please follow the instruction and fill in the missing code.

**First import the pandas library as pd.**

In [2]:
import pandas as pd

**Read the Salaries.csv as Dataframe and call the dataframe "sal".**

In [3]:
sal = pd.read_csv("Salaries.csv")

**Display the *head* of the Dataframe.**

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the `info()` method, to check the size of the dataframe**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay?**

In [6]:
sal["BasePay"].mean()

66325.44884050643

**What is the highest OvertimePay in the dataset?**

In [7]:
sal['OvertimePay'].max()

245131.88

**What is the *JobTitle* of JOSEPH Driscoll?**

*Use capital letters for the name*

In [8]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much is JOSEPH DRISCOLL earning including the *Benefits*?**

In [9]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of the highest payed person including *Benefits*?**

In [48]:
sal.sort_values("TotalPay").head(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN,26

In [49]:
sal.sort_values("TotalPay").tail(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46

In [50]:
sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()

0          True
1         False
2         False
3         False
4         False
          ...
148649    False
148650    False
148651    False
148652    False
148653    False
Name: TotalPayBenefits, Length: 148654, dtype: bool

In [51]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,46

In [52]:
sal['TotalPayBenefits'].max()

567595.43

In [54]:
index_of_highest_earner = sal['TotalPayBenefits'].idxmax()
index_of_highest_earner

0

In [12]:
sal.loc[index_of_highest_earner]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

**What is the name of the lowest paid person? Do you notice anything strange about their wages?**

In [55]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN,26

**What is the mean base pay of all employees per year (2011-2014)?**

In [58]:
sal.groupby("Year").mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [60]:
len(sal['JobTitle'].unique())

2159

In [61]:
sal['JobTitle'].nunique()

2159

**What are the 5 most common jobs?**

In [63]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many job titles were held by only one person in 2013?**

*Note: Have only one appearance in 2013*.

In [78]:
sal_2013 = sal[sal['Year']==2013]

sal_2013['JobTitle'].value_counts()==1

Transit Operator                False
Special Nurse                   False
Registered Nurse                False
Public Svc Aide-Public Works    False
Custodian                       False
                                ...
Undersheriff                     True
Performance Analyst I            True
Painter Supervisor 2             True
Senior Data Entry Operator       True
Dir Emp Relations Div            True
Name: JobTitle, Length: 1051, dtype: bool

In [75]:
sal_2013

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.00,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN,15
72926,72927,Joanne M Hayes-White,"Chief, Fire Department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN,22
72927,72928,Samson Lai,"Battalion Chief, Fire Suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN,30
72928,72929,Ellen G Moffatt,Asst Med Examiner,272855.51,23727.91,38954.54,66198.92,335537.96,401736.88,2013,NaN,San Francisco,NaN,17
72929,72930,Robert L Shaw,"Dep Dir for Investments, Ret",315572.01,0.00,0.00,82849.66,315572.01,398421.67,2013,NaN,San Francisco,NaN,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110526,110527,Arthur L Curry,PS Aide Health Services,NaN,0.00,10.67,0.00,10.67,10.67,2013,NaN,San Francisco,NaN,23
110527,110528,Nereida Vega,Senior Clerk,NaN,0.00,5.56,0.00,5.56,5.56,2013,NaN,San Francisco,NaN,12
110528,110529,Timothy E Gibson,Police Officer 3,NaN,0.00,0.00,-2.73,0.00,-2.73,2013,NaN,San Francisco,NaN,16
110529,110530,Mark E Laherty,Police Officer 3,NaN,0.00,0.00,-8.20,0.00,-8.20,2013,NaN,San Francisco,NaN,16
110530,110531,David P Kucia,Police Officer 3,NaN,0.00,0.00,-33.89,0.00,-33.89,2013,NaN,San Francisco,NaN,16

In [42]:
# Unique
sal[sal['Year']==2013]['JobTitle'].value_counts()

Transit Operator                2295
Special Nurse                   1445
Registered Nurse                1231
Public Svc Aide-Public Works     859
Custodian                        789
                                ...
Undersheriff                       1
Performance Analyst I              1
Painter Supervisor 2               1
Senior Data Entry Operator         1
Dir Emp Relations Div              1
Name: JobTitle, Length: 1051, dtype: int64

In [43]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [39]:
len(sal[sal['Year']==2013]['JobTitle'].unique())

1051

**How many employees have a "Chief" in their job title?**

*Note: This is a slightly more difficult assignment, take some time to complete it.

In [79]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [27]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [89]:
sum(sal['JobTitle'].str.contains("chief", case = False))

627

In [92]:
sal[sal['JobTitle'].str.contains("chief", case = False)]['JobTitle'].unique()

array(['DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)',
       'ASSISTANT DEPUTY CHIEF II', 'BATTALION CHIEF, (FIRE DEPARTMENT)',
       'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)',
       'CHIEF OF POLICE', 'DEPUTY CHIEF III (POLICE DEPARTMENT)',
       'CONFIDENTIAL CHIEF ATTORNEY II (CIVIL & CRIMINAL)',
       'CHIEF ATTORNEY I (CIVIL & CRIMINAL)',
       'ASSISTANT CHIEF ATTORNEY II',
       'CHIEF PROBATION OFFICER, JUVENILE COURT',
       'CHIEF ADULT PROBATION OFFICER', 'ASSISTANT CHIEF ATTORNEY I',
       'CHIEF DEPUTY SHERIFF',
       'ASST. CHIEF PROBATION OFFICER-JUVENILE PROBATION',
       "CHIEF DISTRICT ATTORNEY'S INVESTIGATOR",
       'CHIEF STATIONARY ENGINEER', 'CHIEF WATER SERVICE INSPECTOR',
       'CHIEF STATIONARY ENGINEER, WATER TREATMENT PLANT',
       'ASST. CHIEF, BUREAU OF CLAIMS INVEST. & ADMIN',
       'CHIEF BUILDING INSPECTOR', 'CHIEF PLUMBING INSPECTOR',
       'CHIEF ELECTRICAL INSPECTOR',
       'CHIEF STATIONARY ENGINEER, SEWAGE PLANT',
       'CHIEF HOUSING INSPECTOR',
       "ASSISTANT CHIEF DISTRICT ATTORNEY'S INVESTIGATOR",
       'CHIEF MICROBIOLOGIST', 'CHIEF SURVEYOR',
       'CHIEF FIRE ALARM DISPATCHER', 'CHIEF VICTIM/WITNESS INVESTIGATOR',
       'ASSISTANT CHIEF VICTIM/WITNESS INVESTIGATOR',
       'CHIEF NURSERY SPECIALIST', 'CHIEF DIETITIAN',
       'CHIEF PAYROLL AND PERSONNEL CLERK', 'CHIEF CLERK',
       'CHIEF DEPUTY ADULT PROBATION OFFICER', 'CHIEF TELEPHONE OPERATOR',
       'CHIEF PREPARATOR', 'Chief of Police', 'Chief, Fire Department',
       'Battlion Chief, Fire Suppressi', 'Assistant Deputy Chief 2',
       'Deputy Chief 3', 'Emergency Medical Svcs Chief',
       'Chief Atty1 (Civil & Criminal)', 'Chief Adult Probation Officer',
       'Assistant Chief Attorney 2', 'Assistant Chief Attorney 1',
       'Chief Deputy Sheriff', 'Chief Stationary Engineer',
       'Chief Water Service Inspector', 'Chief Building Inspector',
       'Chief Plumbing Inspector', 'Chief Electrical Inspector',
       'Chief Housing Inspector', 'Chief Dep Adlt Prob Of (SFERS)',
       'Chief Fire Alarm Dispatcher', 'Chief Surveyor',
       'Chief Nursery Specialist', 'Chief Dietitian', 'Chief Clerk',
       'Chief Preparator', 'Chief Telephone Operator',
       'Chief Deputy Adlt Probation Of', 'Battalion Chief, Fire Suppress',
       'Chief Investment Officer', 'Chief Forensic Toxicologist'],
      dtype=object)

In [30]:
len(sal[sal['JobTitle'].str.contains("chief", case=False)]["JobTitle"].unique())

67

In [80]:
chief_string("Chief2")

False

In [81]:
chief_string("Chief")

True

**Bonus: Is there a correlation between the length of a job title and salary?**

In [28]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [29]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Well done :)