<table style="width: 100%">
    <tr style="background: #ffffff">
        <td style="width: 100%">
            <div style="text-align:right; width: 100%; text-align:right"><font style="font-size:38px"><b>√úbung 3.1: Loading Data</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>SoSe 2023</b></font></div>
        </td>
    </tr>
</table>


# Loading, displaying and saving data
## Aim of this unit
Learn how to work with typical data formats in the field of medical, health and sports technology. Typical data formats are e.g. .csv and .txt files. In order to work with and process the data in the following exercises, the following skills must first be learned:
1. loading data + different data formats 
     - Numpy arrays
     - Pandas dataframes
     - Lists
2. Working with pandas
     -  Structure of dataframes
     -  Storing and Loading CSV-Files
     -  Advanced pandas
     -  Group by
     -  Operations on columns
     -  Creating new columns
     -  Simple analysis
3. Graphing data
     - Matplotlib
4. Tasks:
      1. Pandas
      2. Matplotlib

<table style="width: 100%">
    <tr style="background: #ffffff">
        <td style="width: 100%">
            <div style="text-align:right; width: 100%; text-align:right"><font style="font-size:38px"><b>1. Loading Data</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>SoSe 2023</b></font></div>
        </td>
    </tr>
</table>



# Loading data + Different data formats

Importing the used libraries
By "import numpy as np" we can call e.g. numpy functions via _numpy.functionsName_.

In [1]:
import numpy as np
import pandas as pd
import os

## Task 1.1
__Load one .csv and one .txt file each from the "ECG_Data" folder and save the file in one variable each of type Numpy Array, List and Pandas Dataframe.__

In [2]:
# define path using a string value
directory =  'EKG_Data/'
file_name = "01_Ruhe.txt"
file_name_csv = "01_Ruhe.csv"


## Open the file using the path and define a certain split character
# The files first column are Values in millivolt, second colum is time in milliseconds
## Write it into a ... 
# List 
list_01 = open(directory + file_name,"r").read().split("\n")
time = []
value = []

for line in list_01:
    _line = line.split("\t")
    value.append(int(_line[0]))
    time.append(int(_line[1]))
    
print("list_01 is of type:" +  str(type(list_01)))
print("time is of type:" +  str(type(time)))
print("value is of type:" +  str(type(value)))

# Numpy Array
array_01_test = np.array(list_01)
print("array_01_test is of type:" +  str(type(array_01_test)))
# The array is still containing the "\t" separator, instead we could use the two lists "value","time" and stack them into one array... input has to be a tupel 
array_01 = np.column_stack((time, value)) 
print("after stacking the two list in one array it is of type:" + str(type(array_01)))

# Pandas dataframe
df_01 = pd.DataFrame(list_01)
print("df_01 is of type:" +  str(type(df_01)))

print("the first 5 rows of the dataframe look like this: ")
print(df_01.head())

list_01 is of type:<class 'list'>
time is of type:<class 'list'>
value is of type:<class 'list'>
array_01_test is of type:<class 'numpy.ndarray'>
after stacking the two list in one array it is of type:<class 'numpy.ndarray'>
df_01 is of type:<class 'pandas.core.frame.DataFrame'>
the first 5 rows of the dataframe look like this:
            0
0  309\t13666
1  307\t13668
2  306\t13670
3  304\t13672
4  303\t13674

## Task 1.2

Notice, that the dataframe still contains the tabulator "\t" in it. There is a easyer and more elegant way than using "open" and converting it into a list first.
Look up the pandas function __"pd.read_csv"__ and use it, to load the txt. and .csv file into a dataframe. Please also add a header with the column names :"Amplitude in [mV]" ,"Time in [ms]"

In [3]:
# load_csv()
# for txt file
df_ruhe_01 = pd.read_csv(directory + file_name, sep='\t')
print(df_ruhe_01.head())

# for csv file
column_names = ["Amplitude in [mV]" ,"Time in [ms]"]
df_ruhe_01_csv = pd.read_csv(directory + file_name_csv, sep=';', header=0, names= column_names)
df_ruhe_01_csv.head()

   309  13666
0  307  13668
1  306  13670
2  304  13672
3  303  13674
4  301  13676

   Amplitude in [mV]  Time in [ms]
0                307         13668
1                306         13670
2                304         13672
3                303         13674
4                301         13676

## Task 1.3

The pandas built-in loading function is very powerfull, since it can be modified by multiple input parameters in the function.
Use the function with all its capabilities, given the folling csv file __TrackManData__ in the Data folder. The goal is to extract the ```Attack Angle, Ball Speed, Impact Offset, Impact Height and the Tags```. Plese use following parameters ```ep, header, usecols, skiprow``` to delete the first (0) row and use the second (1) row as header. Also the row, containing the units for the data, should be deleted.

In [4]:
path = 'Data/TrackManData.csv'
column_names = ["Date" ,"Ball Speed","Attack Angle", "Impact Offset", "Impact Height", "Tags"]
df = pd.read_csv(path, sep=',', header=1, usecols= column_names, skiprows=[2])
df

,Date,Attack Angle,Ball Speed,Impact Offset,Impact Height,Tags
0,07/03/2023 11:13:07,-3.2,99.411686,-7.491821,5.623008,S01
1,07/03/2023 11:13:27,-3.8,88.652246,-2.598809,13.469382,S01
2,07/03/2023 11:13:45,-5.0,95.383635,-12.938655,4.380596,S01
3,07/03/2023 11:14:05,-7.0,77.429537,-24.977253,-0.892102,S01
4,07/03/2023 11:14:14,-6.2,85.826995,-14.545176,-3.636012,S01
...,...,...,...,...,...,...
630,07/03/2023 19:11:52,-4.6,100.315408,2.536391,7.523918,S27
631,07/03/2023 19:11:59,-6.0,102.087509,-3.898698,-0.810778,S27
632,07/03/2023 19:12:07,-3.8,98.375313,-0.033804,10.371121,S27
633,07/03/2023 19:12:14,-5.0,100.832588,-0.281904,1.514000,S27
634,07/03/2023 19:12:22,-4.2,106.901620,2.414463,4.642359,S27

# üèÅ Recap Loading Data

- If you have finished the tasks and have no questions, start with the exercice provided on SAKAI.
- If you have finished the tasks but would like to discuss the solutions together again, please tell your teacher!

<table style="width: 100%">
    <tr style="background: #ff9900">
        <td style="width: 100%">
            <div style="text-align:center; width: 100%; text-align:center"><font style="font-size:38px"><b>Good Job!</b></font></div>
            <div style="padding-top:0px; width: 100%; text-align:right"><font size="4"><b>SoSe 2023</b></font></div>
        </td>
    </tr>
</table>